*{
  padding: 0;
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  background-color: red;
  color: white;
  
}
.conteudo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body{
  background-color: black;
}
.busca{
display: flex;
justify-content: flex-end;
  
}
.titulo{
  top: 1000%;
   color: white;
}
a{
  text-decoration: none;
  color: white;
}
.titulo-cat{
  position: absolute;
  left:45%;
  top: 20%;
  color: white;
}
.busca{
  left: 15%;
}
.conteudo2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
  
  
}
